# Entorno virtual
tfg-venv/
venv/
.env

# Ignorar contenido de carpetas pero mantener la estructura
# Modelos (muy pesados para GitHub)
models/*
!models/.gitkeep
# Datasets (licencia separada / muy pesados)
datasets/*
!datasets/.gitkeep
# Resultados (se regeneran corriendo el pipeline)
results/*
!results/.gitkeep

# Logs de entrenamiento YOLOv8
runs/


# Carpeta de eval
detect/

# Carpeta de inferencia
outputs/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pt
*.onnx

# Jupyter
.ipynb_checkpoints/

# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# VS Code
.vscode/